@model ClinicManagementProject.Models.Doctor
@{
    ViewData["Title"] = "Doctor's Home";
    Layout = "~/views/shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <section class="alert alert-danger">
        Welcome Doctor  @ViewData["Message"]

    </section>
    <section>
        Your Login Successful
    </section>
    <section>        
        @Html.ActionLink("View Scheduled ", "ViewDoctor_Schedule", new { consDocId = Model.Doctor_Id })
    </section>
</body>

</html> 