
@{
    ViewData["Title"] = "Index";
    Layout = "~/views/shared/_Layout.cshtml";
}

<body>

    <table class="table table-light" width="100%" height="80%"  background="/lib/images/myClinic-background.jpg"><tr><td>&nbsp;</td></tr></table>
    
</body>

